<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CRUD_LinQ.Properties.Settings.CrudLinqSql" connectionString="Data Source=SAT-SIS-07;Initial Catalog=GestionPedidos;User ID=sa;Password=CharSer7"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>